<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<% @posts.each  do |post| %>
	<h2><%= post.title %></h2>
	<div><%= truncate(post.body, :length => 200) %></div>
	<br>
	<%= link_to "Read Post", post%>
<% end %>

